@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --bgtheme: #1c1c1bff;
  --bgletter: #fff;
  --bgmission: lightsalmon;
  --bgvision: yellow;
  --design1: #ce4a7eff;
  --design2: 0xce4a7e;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    background-color:var(--bgtheme);
    font-family:'Poppins', sans-serif;

}

.projectHead{
    font-size:30px;
    font-weight:700;
    margin:0 auto;
    color:var(--design1);

}

.card{
    background-color:var(--bgtheme);
    color:var(--bgletter);
    border-radius: 50px;
background: linear-gradient(145deg, #1e1e1d, #191918);
box-shadow:  5px 5px 0px #141413,
             -5px -5px 0px #242423;
             height:100%;
  
}
.card:hover{
    box-shadow:none;
    background:none;
}
.imgCard{
    position:relative;
}
.imgCard p{
    top:15px;
}
.imgCard img{
    display:block;
    border:5px solid var(--design1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background:rgba(0, 0, 0, 0.4 );
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    display:flex;
    justify-content:center;
    align-items:center;


  }

  .overlay box-icon{
      font-size:24px;
  }

  .imgCard:hover .overlay {
    width: 100%;
    left: 0;
  }
  .card-text{
      font-size:14px;
  }

  .navContainer {
    top: 0;
    background-color: transparent;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: block;
    transition: all 0.8s ease;
  }
  
  .navigationMenu a {
    float: left;
    display: block;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 1rem;
  }
  
  .navbar {
    margin-top: 0;
  }
  
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  a:hover:after {
    width: 100%;
    left: 0;
  }
  
  @media screen and (max-height: 300px) {
    ul {
      /* margin-top: 40px; */
    }
  }
  
  .navigationMenu a:hover {
    background-color: var(--bgtheme);
    color: var(--design1);
    transition: all 0.4s;
  }
  .navigationMenu a:active {
    background-color: var(--bgtheme);
    color: var(--design1);
    transition: all 0.4s;
  }
  
  .navbar-toggler-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navigationMenu .voice{
    outline:none;
    border:none;
    margin:0 auto;
    border-radius:50%;
    background-color:var(--design1);
    float:right;
    top:15px;
    position:absolute;
  }
  .voice .fas{
    color:var(--bgletter);
  }
  
  .navbar-brand {
    border-right: 3px solid white;
  }
  
  @media (max-width: 575px) {
    .navbar-brand {
      border-right: 0px solid white;
    }
  }
  
  .navbar-toggler-icon i {
    color: white;
    margin: 0 auto;
    font-size: 28px;
  }
  
  .collapse li:hover {
    /* background-color: var(--bgtheme); */
    transition: all 0.4s;
    background-color:var(--bgtheme);
  
  }
  
  .collapse li:hover a {
    color: var(--design1);
   
  }

  .sectionOne{
    background:url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    height:70vh;
    display:flex;
    justify-content:flex-start;
    position:relative;
    
  }
  .sectionOne h3, .sectionOne h4{

    color:white;
    font-weight:700;
    position:absolute;



  }

  .sectionOne h3{
    bottom:50px;
    left:30px;

  }

  .sectionOne h4{
    bottom:15px;
    left:30px;
  }